---
import { getPublishedArticles } from '../../lib/articles';
import { getFormattedTag } from '../../lib/articles';
import { Tags } from '../../schemas/ArticleSchema';

import BaseLayout from '../../layouts/BaseLayout.astro';
import ArticleCard from '../../components/ArticleCard.astro';
import TagCloud from '../../components/TagCloud.astro';

export async function getStaticPaths() {
    const articles = await getPublishedArticles();

    // We could iterate over the collection tags, but
    // the enum should always match and is safer to use
    return Object.values(Tags).map((tag) => {
        const filteredPosts = articles.filter((article) =>
            article.data.tags.includes(tag)
        );

        return {
            params: { tag: getFormattedTag(tag) },
            props: {
                articles: filteredPosts,
                prettyTag: tag,
                tag: tag
            }
        };
    });
}

const { articles, prettyTag, tag } = Astro.props;
---

<BaseLayout pageTitle={prettyTag}>
    <div class="py-8 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto">
                <div class="pt-5">
                    <TagCloud currentTag={tag} />
                </div>
                <div class="pt-10">
                    {
                        articles.map((article) => (
                            <ArticleCard article={article} />
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
