---
import { getPublishedArticles } from '../../lib/articles';
import { getFormattedTag } from '../../lib/tags';
import { Tags } from '../../schemas/ArticleSchema';

import BaseLayout from '../../layouts/BaseLayout.astro';
import ArticleCard from '../../components/ArticleCard.astro';

export async function getStaticPaths() {
    const articles = await getPublishedArticles();

    // We could iterate over the collection tags, but
    // the enum should always match and is safer to use
    return Object.values(Tags).map((tag) => {
        const filteredPosts = articles.filter((article) =>
            article.data.tags.includes(tag)
        );

        return {
            params: { tag: getFormattedTag(tag) },
            props: {
                articles: filteredPosts,
                prettyTag: tag
            }
        };
    });
}

const { articles, prettyTag } = Astro.props;
---

<BaseLayout pageTitle={prettyTag}>
    <div class="py-8 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto">
                <h2
                    class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl"
                >
                    <p>
                        <a
                            href="/tags"
                            class="text-blue-600 hover:text-blue-800 dark:text-pink-500 dark:hover:text-pink-400"
                            >Tags</a
                        > → {prettyTag}
                    </p>
                </h2>
                <div class="mt-10 space-y-16 pt-10 sm:mt-6 sm:pt-12">
                    {
                        articles.map((article) => (
                            <ArticleCard article={article} />
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
