---
import { getPublishedArticles } from '../lib/articles';

import ArticleCard from './ArticleCard.astro';

const articles = await getPublishedArticles({
    limit: 10
});
---

<div class="bg-white py-8 dark:bg-gray-700 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto">
            <div class="flex items-center justify-between">
                <div class="min-w-0 flex-1">
                    <h2
                        class="text-3xl font-bold leading-7 text-gray-900 dark:text-white sm:truncate sm:text-4xl sm:tracking-tight"
                    >
                        Latest
                    </h2>
                </div>
                <div class="ml-4 mt-0 mt-4 flex">
                    <a
                        href="/articles"
                        title="View all articles"
                        data-astro-prefetch
                    >
                        <button
                            type="button"
                            class="inline-flex items-center rounded-md bg-gray-200 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-300 dark:bg-pink-800 dark:text-pink-200 dark:hover:bg-pink-700"
                            >View All</button
                        >
                    </a>
                </div>
            </div>
            <div
                class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-6 sm:pt-12"
            >
                {articles.map((article) => <ArticleCard article={article} />)}
            </div>
        </div>
    </div>
</div>
