---
import { Image } from 'astro:assets';
import DarkModeButton from './DarkModeButton.astro';

import logo from '../assets/alezio_logo.svg';
---

<header class="sticky top-0 z-10 bg-gray-900">
    <nav
        class="mx-auto flex items-center justify-between p-10 lg:px-12"
        aria-label="Global"
    >
        <div class="flex lg:flex-1">
            <a href="/" class="flex">
                <span class="sr-only">Alez.io Blog</span>
                <Image
                    src={logo}
                    alt="Alez.io Blog Homepage"
                    width="70"
                    height="70"
                    loading="eager"
                />
                <span
                    class="font-roboto text-2md flex items-center pl-3 font-bold text-white lg:text-xl"
                    >:Alez.io</span
                >
            </a>
        </div>
        <div class="flex flex-1 justify-end">
            <DarkModeButton />
        </div>
    </nav>
</header>
