---

import '../styles/articles.css';

---

<div
    class="prose
        dark:prose-invert
        prose-h1:font-bold
        prose-h1:text-xl
        prose-headings:pt-10
        prose-a:text-blue-600
        prose-p:text-justify
        prose-img:rounded-xl
        prose-[class~='contains-task-list']:list-style-type:none
        max-w-7xl"
    >
    <slot />
</div>