---
import '../styles/articles.css';
---

<div
    class="prose-[class~='contains-task-list']:list-style-type:none
        prose
        max-w-7xl
        dark:prose-invert
        prose-headings:pt-3
        prose-h1:text-3xl
        prose-h1:font-bold
        prose-p:text-justify
        prose-a:break-words
        prose-a:text-blue-600
        prose-img:rounded-xl"
>
    <slot />
</div>
