---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>{new Date(frontmatter.publishedDate).toLocaleDateString("en-US")}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.heroimage} width="300" />
    <slot />
</BaseLayout>
